<nav class="navbar navbar-expand-lg navbar-light bg-info text-dark">
        <a class="nav-brand mr-10">StockMarket</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="importdata">Import Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="managecompany">Manage Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="manageexchange">Manage Exchange</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="updateipodetails">update ipo details</a>
                </li>
            </ul>
        </div>
</nav>
